{{ partial "header.html" . }}

<main class="content" role="main">

  {{ if .Content }}
  {{ if .Params.show_title }}
  {{ partial "article_meta.html" . }}
  {{ end }}
  <article class="article">
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ else }}
  <div class="archive">
	{{ if eq .Section "pac" }}
	  {{ range .Data.Pages.ByTitle.Reverse }}
		<article class="archive-item">
		<a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
		</article>
	  {{ end }}
	{{ end }}
	{{ if eq .Section "psp" }}
	  {{ range .Data.Pages.ByTitle.Reverse }}
		<article class="archive-item">
		<a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
		</article>
	  {{ end }}
	{{ end }}
	{{ if eq .Section "ml" }}
	  {{ range .Data.Pages.ByTitle.Reverse }}
		<article class="archive-item">
		<a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
		</article>
	  {{ end }}
	{{ end }}
	{{ if eq .Section "math" }}
	  {{ range .Data.Pages }}
		<article class="archive-item">
		<a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
		</span>
		</article>
	  {{ end }}
	{{ end }}
	{{ if eq .Section "blog" }}
      {{ range .Pages.GroupByDate "2006" }}
			<h2 class="archive-title">{{ .Key }}</h2>
        {{ range .Pages }}
			<article class="archive-item">
			<a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
			<span class="archive-item-date">
			{{ .Date.Format "2006/01/02" }}
			</span>
			</article>
        {{ end }}
      {{ end }}
	{{ end }}
	{{ if eq .Section "learn" }}
      {{ range .Pages.GroupByDate "2006" }}
			<h2 class="archive-title">{{ .Key }}</h2>
        {{ range .Pages }}
			<article class="archive-item">
			<a href="{{ .Permalink }}" class="archive-item-link">{{ .Title }}</a>
			<span class="archive-item-date">
			{{ .Date.Format "2006/01/02" }}
			</span>
			</article>
        {{ end }}
      {{ end }}
	{{ end }}
	{{ if eq .Section "" }}
      {{ range .Pages.GroupByDate "2006" }}
			<h2 class="archive-title">{{ .Key }}</h2>
        {{ range .Pages }}
			{{ .Render "summary"}}
        {{ end }}
      {{ end }}
	{{ end }}
  </div>
  {{ end }}
  {{if and .Content (not .IsHome) }}
  {{ partial "disqus.html" .}}
  {{ end }}

</main>

{{ partial "footer.html" . }}
